<style>
    label {
        color: black;
    }

    .form-control {
        height: 50px;
    }

    .form-control:disabled {
        text-align: center;
        background: #f9f9f9;
        color: #7E7E7E;
    }

    .form-group {
        text-align: center;
    }

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%;
    }

    .bootstrap-select .btn {
        font-size: 0.875rem;
        height: 50px;
    }
</style>
<!--**********************************
        Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Datos de la Empresa</h4>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-xl-4 mt-2">
                        <div class="form-group text-center">
                            <label>Empresa</label>
                            <input type="text" value="{{empresa.nombre_empresa}}"
                                class="form-control" disabled>
                            <input type="hidden" id="id_consul" value="{{empresa.id}}">
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="form-group text-center">
                            <label>Nombres y Apellidos</label>
                            <input type="text" value="{{empresa.nombres}} {{empresa.apellidos}}"
                                class="form-control" disabled>
                            <input type="hidden" id="id_consul" value="{{empresa.id}}">
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" value="{{empresa.email}}" class="form-control"
                                style="line-height:4" disabled>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Teléfono</label>
                            <input type="text" value="{{empresa.telefono}}" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Fecha de Nacimiento</label>
                            <input type="text" value="{{empresa.fecha_nacimiento}}" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>País</label>
                            <input type="text" value="{{empresa.pais}}" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Redes Sociales</label>
                            {{#if empresa.redes}}
                                {{#if empresa.redes.twitter}}
                                <input type="text" value="{{empresa.redes.twitter}}" class="form-control" disabled>
                                {{/if}}
                                {{#if empresa.redes.facebook}}
                                <input type="text" value="{{empresa.redes.facebook}}" class="form-control" disabled>
                                {{/if}}
                                {{#if empresa.redes.instagram}}
                                <input type="text" value="{{empresa.redes.instagram}}" class="form-control" disabled>
                                {{/if}}
                                {{#if empresa.redes.otra}}
                                <input type="text" value="{{empresa.redes.otra}}" class="form-control" disabled>
                                {{/if}}
                            {{else}}
                            <input type="text" value="N/A" class="form-control" disabled>
                            {{/if}}
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>¿Es dueño del negocio?</label>
                            <input type="text" value="{{empresa.propietario}}" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>¿Tiene socios?</label>
                            <input type="text" value="{{empresa.socios}}" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Cantidad de socios</label>
                            <input type="text" value="{{empresa.numSocios}}" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Porcentaje Accionario</label>
                            <input type="text" value="{{empresa.porcentaje}}" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Tiempo de fundación</label>
                            <input type="text" value="{{empresa.tiempoFundada}}" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Años de experiencia</label>
                            <input type="text" value="{{empresa.experiencia}} años" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Promedio de ingreso anual</label>
                            <input type="text" value="{{empresa.promIngresos}}" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Número de empleados</label>
                            <input type="text" value="{{empresa.numEmpleados}}" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Página Web</label>
                            {{#if empresa.pageWeb}}
                            <input type="text" value="{{empresa.pageWeb}}" class="form-control" disabled>
                            {{else}}
                            <input type="text" value="N/A" class="form-control" disabled>
                            {{/if}}
                        </div>
                    </div>


                    {{!-- <div class="col-xl-4">
                        <div class="form-group">
                            <label>Estado</label>
                            <select id="estado_consul" class="mr-sm-2 default-select">
                                {{#comparar empresa.estadoAdm '==' 'No'}}
                                <option value="1" selected>Activa</option>
                                <option value="0">Bloqueada</option>
                                {{/comparar}}
                                {{#comparar empresa.bloqueada '!=' 'No'}}
                                <option value="0" selected>Bloqueada</option>
                                <option value="1">Activa</option>
                                {{/comparar}}
                            </select>
                        </div>
                    </div> --}}

                </div>
                <!-- ./Fin Fila 1 -->

                <div class="row">
                    <div class="col-xl-3 m-auto">
                        <div class="form-group">
                            <a type="button" class="add-menu-sidebar" id="btnActualizarEmpresa"
                                style="background: linear-gradient(180deg, #FED061 -149.33%, #812082 -19.27%, #50368C 158.67%); color:#fff !important; padding: 10px 15px;">
                                <p class="font-w500 m-auto">Guardar cambios</p>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>