<style>
    table.dataTable.no-footer {
        border-bottom: 1px solid #dcdcdc;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
        color: #fff !important;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
        color: #fff !important;
    }
</style>
<!--**********************************
          Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Datos de empresas</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="empresasTabla" class="display min-w850 text-center"
                                style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Empresa</th>
                                        <th>Registro</th>
                                        <th>Nombre</th>
                                        <th>Correo</th>
                                        <th>Teléfono</th>
                                        <th>Consultor</th>
                                        <th>Estado de la cuenta</th>
                                        <th>Etapa de consultoría</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each empresas}}
                                    <tr>
                                        <td>{{nombre_empresa}}</td>
                                        <td>{{fecha_creacion}}</td>
                                        <td>{{nombres}} {{apellidos}}</td>
                                        <td>{{email}}</td>
                                        <td>{{#if telefono}}{{telefono}}{{else}}N/A{{/if}}</td>
                                        <td>{{#if nombre_consultor}}{{ nombre_consultor }} {{else}}N/A{{/if}}</td>
                                        <td>{{estadoCuenta}}</td>
                                        <td>{{etapa}}</td>
                                        <td>
                                            <div class="d-flex">
                                                <a  href="/empresas/{{codigo}}" class="btn btn-primary shadow btn-xs sharp mr-1"
                                                    style="background: linear-gradient(189.55deg, #FED061 -131.52%, #812082 -11.9%, #50368C 129.46%);">
                                                    <i class="fa fa-pencil"></i></a>
                                                <a href="#" class="btn btn-danger shadow btn-xs sharp"
                                                    style="background: #DC0000; color: white"><i
                                                        class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>