<link rel="stylesheet" href="../css/estilosAnalisis.css">
<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
  <!-- row -->
  <div class="container-fluid">
    {{!-- MENSAJES INFORMATIVOS DE LA 1ERA FILA --}}
    <div class="row">
      <div class="col-md-12 col-xl-6 col-xxl-6">
        <div class="card avtivity-card"
          style="background: transparent !important;border: none !important; box-shadow: none !important">
          <div class="card-body">
            {{#if tienePropuesta}}
            <h2 style="color: #000; font-weight: bold;">Analicemos tu empresa en 4 dimensiones</h2>
            <p style="text-align: justify;margin-top: 2em;color: #000">A continuación te presentamos una propuesta para impulsar el desarrollo corporativo de tu empresa, a través de las dimensiones:</p>
            {{else}}
            <h2 style="color: #000; font-weight: bold;">Nos estamos preparando para ti</h2>
            <p style="text-align: justify;margin-top: 2em;color: #000">Tu Consultor(a) ha sido asignado(a) y se encuentra revisando la información de tu empresa para presentarte una propuesta, recibirás un correo muy pronto y podrás regresar a esta página para continuar tu análisis de negocio.</p>
            <p style="color: #000; font-weight: bold;">Revisaremos tu empresa en 4 dimensiones:</p>
            {{/if}}
            <p style="color: #000; font-weight: bold;">
              <i class="fa-solid fa-box"></i> Producto</li></br>
              <i class="fa-solid fa-user-tie"></i> Administración</br>
              <i class="fa-solid fa-gear"></i> Operaciones</br>
              <i class="fa-solid fa-bullhorn"></i> Marketing</br>
            </p>
            {{#if tienePropuesta}}
            <p style="text-align: justify;margin-top: 2em;color: #000">Haz clic en el icono de la lupa para ver todos los detalles.</p>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xl-6 col-xxl-6">
        <div class="card avtivity-card"
          style="background: transparent !important;border: none !important; box-shadow: none !important">
          {{#if tienePropuesta}}
          {{#if btnPagar.analisisPer}}
          <div class="card-body">
            <h2 style="color: #000; font-weight: bold;">Tu pago ha sido recibido</h2>
            <p style="text-align: justify;margin-top: 2em;color: #000">Hemos recibido tu pago, ahora puedes continuar con tu proceso de análisis de negocio. Tu consultor(a) agendará una cita contigo pronto, recibirás una notificación de esto en tu correo electrónico.</p>
          </div>
          {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
    {{!-- Fin de la 1era fila --}}
    {{#if tienePropuesta}}
    <div class="row">
      {{!-- TARJETAS IZQUIERDA (PROPUESTAS - PAGOS - INFORMES) --}}
      <div class="col-xl-6 col-xxl-6">
        {{!-- PROPUESTA --}}
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Propuesta técnica</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-responsive-md text-center">
                    <thead>
                      <tr>
                        <th>FECHA DE PROPUESTA</th>
                        <th>ESTADO DE PAGO</th>
                        <th>REVISAR PROPUESTA</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{#if propuesta.fecha}}{{propuesta.fecha}}{{else}}N/A{{/if}}</td>
                        <td>
                          {{#if propuesta.pagada}}
                            <span class="badge light badge-success">Pagado</span>
                          {{else}}
                            <span class="badge light badge-warning">Pendiente</span>
                          {{/if}}
                        </td>
                        <td>
                          <a href="{{propuesta.link_propuesta}}" target="_blank"
                              class="btn color_primary shadow btn-xs sharp text-white"
                              style="margin: 0 auto">
                              <i class="fa fa-search"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{!-- INFORMES GENERADOS --}}
        {{#if propuesta.pagada}}
        <div class="row">
          <div class="col-xl-12">
            {{!-- INFORMES GENERADOS --}}
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Informes generados</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-responsive-md text-center">
                    <thead>
                      <tr>
                        <th>FECHA</th>
                        <th>NOMBRE</th>
                        <th>ACCIÓN</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#if informesAnalisis}}
                      {{#each informesAnalisis}}
                      <tr>
                        <td>{{fecha}}</td>
                        <td>{{nombre}}</td>
                        <td>
                          <a href="{{url}}"
                            style="margin: 0 auto; margin-top: -8px; border-color: #FED061"
                            target="_blank" class="btn color_tertiary shadow btn-xs sharp text-white">
                            <i class="fa fa-search"></i></a>
                        </td>
                      </tr>
                      {{/each}}
                      {{else}}
                      <tr>
                        <td colspan="4">Aún no hay informes generados.</td>
                      </tr>
                      {{/if}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/if}}
      </div>

      {{!-- CARGA DE ARCHIVOS --}}
      {{#if propuesta.pagada}}
      <input type="hidden" id="idEmpresa" value="{{id_empresa}}">
      <div class="col-xl-6 col-xxl-6">
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Carga de archivos</h4>
              </div>

              <div class="card-body">
                <div class="row">
                  <div class="table-responsive">
                    <table class="table table-responsive-md text-center">
                      <thead>
                        <tr>
                          <th>DIMENSIÓN</th>
                          <th>DESCRIPCIÓN</th>
                          <th>ESTADO</th>
                          <th>ACCIÓN</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#unless archivos}}
                          <tr><td colspan=" 4">Tu consultor(a) aún no ha solicitado archivos</td></tr>
                        {{/unless}}
                        {{#each archivos}}
                        <tr>
                          <td>{{dimension}}</td>
                          <td>{{descripcion}}</td>
                          <td><span id="spanEstado{{id}}" class="badge light badge-{{color}}">{{estado}}</span></td>
                          <td>
                            <table border="0" cellspacing="0" style="margin: 0 auto;">
                              <tr>
                                <td style="border-color: transparent; padding:3px">
                                  <label for="inputArchivo{{id}}" onclick="cargarArchivos_Empresa('archivos_analisis', '{{id}}')">
                                    <div class="btn color_primary shadow btn-xs sharp mr-1 text-white" style="border-color: white;">
                                      <i class="fa fa-upload"></i>
                                    </div>
                                  </label>
                                  <input id="inputArchivo{{id}}" type="file" style="display:none"/>
                                </td>
                                <td style="border-color: transparent; padding:3px">
                                  <a id="btnVer{{id}}" href="{{link}}"
                                    style="display: {{display}}; margin: 0 auto; margin-top: -8px; border-color: #FED061"
                                    target="_blank" class="btn color_tertiary shadow btn-xs sharp text-white">
                                    <i class="fa fa-search"></i></a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      {{/if}}
    </div>
    {{/if}}
  </div>
</div>