<!--**********************************
                    Content body start
                ***********************************-->
<div class="content-body">
  <!-- row -->
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card avtivity-card"
          style="background: transparent !important;border: none !important; box-shadow: none !important">
          <div class="card-body">
            <h2 style="color: #000; font-weight: bold;">Queremos conocerte un poco más</h2>
            <p style="text-align: justify;margin-top: 2em;color: #000">Por favor completa el formulario a continuación
              para tener información mas detallada sobre tu empresa, estos datos son vitales para realizar un
              diagnóstico preciso.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card avtivity-card"
          style="background: transparent !important;border: none !important; box-shadow: none !important">
          {{#if formDiag.estado}}
          <div class="card-body">
            <h2 style="color: #000; font-weight: bold;">Hemos recibido la información de tu empresa</h2>
            <p style="text-align: justify;margin-top: 2em;color: #000">De acuerdo al perfil de tu empresa asignaremos al mejor consultor disponible para ti, recibirás una notificación pronto al correo <strong>{{user.email}}</strong> para informarte que tu consultor está listo y podrás agendar tu cita en el botón de la izquierda para continuar el proceso del diagnóstico de negocio.</p>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
    {{!-- Fin de la 1era fila --}}

    <div class="row">
      {{!-- FORMULARIOS --}}
      <div class="col-xl-6 col-xxl-6">
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Formularios</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-responsive-md text-center">
                    <thead>
                      <tr>
                        <th>FECHA MODIFICACIÓN</th>
                        <th>ETAPA</th>
                        <th>NOMBRE</th>
                        <th>ESTADO</th>
                        <th>ACCIÓN</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td id="fActual">{{formDiag.fecha}}</td>
                        <td>Diagnóstico de negocio</td>
                        <td>Ficha de cliente</td>
                        <td><span class="badge light {{formDiag.color}}"
                            style="background: {{formDiag.estilo}}">{{formDiag.texto}}</span></td>
                        <td>
                          <div class="d-flex">
                            <a href="/ficha-cliente/{{formDiag.usuario}}"
                              class="btn btn-primary shadow btn-xs sharp mr-1"
                              style="background: linear-gradient(189.55deg, #FED061 -131.52%, #812082 -11.9%, #50368C 129.46%);">
                              <i class="fa fa-pencil"></i></a>
                            <a onclick="eliminarFichaCliente({{formDiag.id}})"
                              class="btn btn-danger shadow btn-xs sharp" style="background: #DC0000; color: white"><i
                                class="fa fa-trash"></i></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{!-- Informes generados --}}
      <div class="col-xl-6 col-xxl-6">
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Informes generados</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-responsive-md">
                    <thead>
                      <tr>
                        <th>FECHA</th>
                        <th>ETAPA</th>
                        <th>NOMBRE</th>
                        <th>ACCIÓN</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr>

                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div> <!-- Fin del Main Wrapper - Inicia en el Partial Navigation -->

<!--**********************************
            Scripts
***********************************-->
<script>
  {{#if formDiag.fechaLocal}}
  const tzLocal = Intl.DateTimeFormat().resolvedOptions().timeZone;
  console.log("ZONA HORARIA LOCAL")
  console.log(tzLocal);
  const fechaCliente = new Date().toLocaleString("en-US", {timeZone: tzLocal})
  document.getElementById("fActual").innerHTML = fechaCliente
  {{/if}}

  function eliminarFichaCliente(id) {
    Swal.fire({
      title: '¿Deseas restablecer el formulario?',
      text: "Todas tus respuestas se eliminarán.",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#50368C',
      cancelButtonColor: '#d33',
      cancelButtonText: 'Cancelar',
      confirmButtonText: '¡Sí, restablecer!'
    }).then((result) => {
      if (result.isConfirmed) {
        fetch('/eliminarFicha', {
          method: 'POST', // or 'PUT'
          body: JSON.stringify({id}),
          headers: {'Content-Type': 'application/json'}
        }).then(res => res.json())
          .catch(error => console.error('Error:', error))
          .then(response => {
            if (response) {
              location.reload();
            } else {
              Swal.fire(
                'Error!',
                'El formulario no ha sido llenado.',
                'error'
              )
            }
          });
          
      }
    })
  }
</script>